<a href="https://colab.research.google.com/github/chinezilian/Analise-de-Autoria-do-livro-de-Hebreus/blob/main/Normaliza%C3%A7%C3%A3o_dos_dados_NA28_Greek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Normalização dos dados NA28_Greek

In [ ]:
import pandas as pd
from pandas.core.frame import DataFrame

In [ ]:
headers = ['bookname','versenum','verse']

In [ ]:
df = pd.read_csv('NA28_Greek.csv', header = None, encoding = 'utf-16',names = ['book','vernum','verse'], sep = '\t')

In [ ]:
df.head()

   book vernum                                              verse
0  Mt 1      1  Βίβλος γενέσεως Ἰησοῦ Χριστοῦ υἱοῦ Δαυὶδ υἱοῦ ...
1  Mt 1      2  Ἀβραὰμ ἐγέννησεν τὸν Ἰσαάκ, Ἰσαὰκ δὲ ἐγέννησεν...
2  Mt 1      3  Ἰούδας δὲ ἐγέννησεν τὸν Φάρες καὶ τὸν Ζάρα ἐκ ...
3  Mt 1      4  Ἀρὰμ δὲ ἐγέννησεν τὸν Ἀμιναδάβ, Ἀμιναδὰβ δὲ ἐγ...
4  Mt 1      5  Σαλμὼν δὲ ἐγέννησεν τὸν Βόες ἐκ τῆς Ῥαχάβ, Βόε...

In [ ]:
bookname =[]
chapnum = []
vernum = []
verse = []
for x in df.book:
    info = x.split()
    bookname.append(info[0])
    chapnum.append(info[1])
for y in df.vernum:
    vernum.append(y)
for z in df.verse:
    verse.append(z)
    
NA28 = {'BookName':bookname, 'ChapNum':chapnum, 'VerNum':vernum, 'Verse':verse}
NA28 = pd.DataFrame(NA28)

In [ ]:
numlist = []
v_num = []
for x in range(0,len(vernum)):
    if vernum[x] == 'nonvnum':
        numlist.append(x)
    else:
        v_num.append(vernum[x])
        
numlist1 = [x-1 for x in numlist]
allnum = numlist1 + numlist

In [ ]:
b_name = []
for m in range(0,len(bookname)):
    if m not in numlist:
        b_name.append(bookname[m])
ch_num = []
for n in range(0,len(chapnum)):
    if n not in numlist:
        ch_num.append(chapnum[n])

In [ ]:
v_text = []

for x in range(0,len(verse)):
    if x not in numlist:
        if x not in numlist1:
            v_text.append(verse[x])
        else:
            v_text.append(verse[x]+verse[x+1])

In [ ]:
re_NA28 = {'BookName':b_name, 'ChapNum':ch_num, 'VerNum':v_num, 'Verse':v_text}
re_NA28 = pd.DataFrame(re_NA28)

In [ ]:
re_NA28.to_csv('NA28_11_09_11PM.csv', index = False, encoding = 'utf-16', sep = '\t')